<configuration>
    <dllmap os="osx" dll="elykseer-crypto-cs" target="libelykseer-crypto-cs.osx.1.0.1.dylib"/>
    <dllmap os="linux" dll="elykseer-crypto-cs" target="libelykseer-crypto-cs.linux.1.0.1.so"/>
    <dllmap os="freebsd" dll="elykseer-crypto-cs" target="libelykseer-crypto-cs.freebsd.1.0.1.so"/>
</configuration>
