# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# mac subtleties
._*
.DS_Store

build

.fake
.ionide

GPATH
GRTAGS
GTAGS

.vscode
.vs

*.swp

CPackConfig.cmake
CPackSourceConfig.cmake
CTestTestfile.cmake
Testing/
_CPack_Packages/
install_manifest.txt

ext/Darwin_arm64
ext/Darwin_amd64
ext/Linux_aarch64
ext/Linux_x86_64
ext/_ccache
ext/w64devkit
ext/xWindows_x86_64

.cache
build/compile_commands.json
